/* 초기화 */
* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Nanum Gothic', sans-serif;
}
/* 상단메뉴바 */
#wrap {
  display: none;
  width: 100vw; height: 40px;
  background-color: #ffffff;
  background-attachment: fixed;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
#nav {
  display: inline-block;
  overflow:hidden ;
  width: 1100px; height: 40px;
}
#left, #right {
  text-align: center;
  line-height: 40px;
  float: left;
}
#left {
  width: 600px; height: 40px;
  margin-right: 15px;
}
#right {
  width: 300px; height: 40px;
}
#left > a.gnb {
  margin: 0 40px;
  line-height: 40px;
  font-size: 18px;
  font-weight: 900;
  color: black;
}
#right > a.lnb {
  margin: 0 20px;
  font-size: 16px;
  color: black;
}
a.btn {
  display: inline-block;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
/* 스프라이트 이미지 */
#right > a#btn1 {
  background: url('https://cromidi.cafe24.com/allnew/css_sprites.png');
  width: 40px;
  background-position: 0 0;
}
#right > a#btn2 {
  background: url('https://cromidi.cafe24.com/allnew/css_sprites.png');
  width: 40px;
  background-position: -40px 0;
}
#right > a#btn3 {
  background: url('https://cromidi.cafe24.com/allnew/css_sprites.png');
  width: 40px;
  background-position: -80px 0;
}
/* #본문 */
section {
  width: 100vw; height: 1080px;
}
section.page1 {
  background-image: url('https://cromidi.cafe24.com/allnew/1.jpg');
  background-size: cover;
}
section.page2 {
  background-image: url('https://cromidi.cafe24.com/allnew/2.jpg');
  background-size: cover;
}
section.page3 {
  background-image: url('https://cromidi.cafe24.com/allnew/3.jpg');
  background-size: cover;
}
section.page4 {
  background-image: url('https://cromidi.cafe24.com/allnew/4.jpg');
  background-size: cover;
}
/* 사이드메뉴 */
input[id="menuicon"] {
  display: none;
}
input[id="menuicon"] + label {
  display: block; margin: 20px;
  width: 30px; height: 22px;
  position: relative;
  cursor: pointer;
  position: fixed;
}
input[id="menuicon"] + label span {
  display: block; 
  width: 100%; height: 3px;
  background-color: #000;
  border-radius: 30px;
  position: absolute;
  transition: .35s;
}
input[id="menuicon"] + label span:nth-child(1) {
  top: 0;
  z-index: 2
}
input[id="menuicon"] + label span:nth-child(2) {
  top: 50%; transform: translateY(-50%);
  z-index: 2
}
input[id="menuicon"] + label span:nth-child(3) {
  bottom: 0;
  z-index: 2
}
input[id="menuicon"]:checked + label {
  z-index: 2;
}
input[id="menuicon"]:checked + label span:nth-child(1) {
  top: 50%; transform: translateY(-50%) rotate(45deg);
  z-index: 2
}
input[id="menuicon"]:checked + label span:nth-child(2) {
  opacity: 0;
  z-index: 2
}
input[id="menuicon"]:checked + label span:nth-child(3) {
  bottom: 50%; transform: translateY(50%) rotate(-45deg);
  z-index: 2
}
div[class="sidebar"] {
  width: 130px; height: 70%;
  background-color: #fff;
  position: fixed;
  top: 0; left: -220px;
  z-index: 1;
  transition: .35;
  opacity: 0.9;
}
input[id="menuicon"]:checked + label + div {
  left: 0;
}
div.sidebar > ul {
  margin-top: 74px;
  margin-left: 20px;
}
.menu > li > a {
  display: block;
  z-index: 3;
}
.top > li > a {
  font-weight: 900;
  font-size: 1.2em;
  margin-bottom: 24px;
  color: black;
}
.bottom {
  margin-top: 50px;
}
.bottom > li > a {
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 24px;
  color: black;
}
@media screen and (min-width:750px) {
  #wrap {
    display: block;
    width: 100vw; height: 40px;
    background-color: #ffffff;
    background-attachment: fixed;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  #nav {
    display: inline-block;
    overflow:hidden ;
    width: 1100px; height: 40px;
  }
  #left, #right {
    text-align: center;
    line-height: 40px;
    float: left;
  }
  #left {
    width: 600px; height: 40px;
    margin-right: 15px;
  }
  #right {
    width: 300px; height: 40px;
  }
  #left > a.gnb {
    margin: 0 40px;
    line-height: 40px;
    font-size: 18px;
    font-weight: 900;
    color: black;
  }
  #right > a.lnb {
    margin: 0 20px;
    font-size: 16px;
    color: black;
  }
  a.btn {
    display: inline-block;
    height: 40px;
    text-align: center;
    line-height: 40px;
  }
  /* 스프라이트 이미지 */
  #right > a#btn1 {
    background: url('https://cromidi.cafe24.com/allnew/css_sprites.png');
    width: 40px;
    background-position: 0 0;
  }
  #right > a#btn2 {
    background: url('https://cromidi.cafe24.com/allnew/css_sprites.png');
    width: 40px;
    background-position: -40px 0;
  }
  #right > a#btn3 {
    background: url('https://cromidi.cafe24.com/allnew/css_sprites.png');
    width: 40px;
    background-position: -80px 0;
  }
  /* #본문 */
  section {
    width: 100vw; height: 1080px;
  }
  section.page1 {
    background-image: url('https://cromidi.cafe24.com/allnew/1.jpg');
    background-size: cover;
  }
  section.page2 {
    background-image: url('https://cromidi.cafe24.com/allnew/2.jpg');
    background-size: cover;
  }
  section.page3 {
    background-image: url('https://cromidi.cafe24.com/allnew/3.jpg');
    background-size: cover;
  }
  section.page4 {
    background-image: url('https://cromidi.cafe24.com/allnew/4.jpg');
    background-size: cover;
  }
  /* 사이드메뉴 */
input[id="menuicon"] {
  display: none;
}
input[id="menuicon"] + label {
  display: none; margin: 20px;
  width: 30px; height: 22px;
  position: relative;
  cursor: pointer;
  position: fixed;
}
input[id="menuicon"] + label span {
  display: block; 
  width: 100%; height: 3px;
  background-color: #000;
  border-radius: 30px;
  position: absolute;
  transition: .35s;
}
input[id="menuicon"] + label span:nth-child(1) {
  top: 0;
  z-index: 2
}
input[id="menuicon"] + label span:nth-child(2) {
  top: 50%; transform: translateY(-50%);
  z-index: 2
}
input[id="menuicon"] + label span:nth-child(3) {
  bottom: 0;
  z-index: 2
}
input[id="menuicon"]:checked + label {
  z-index: 2;
}
input[id="menuicon"]:checked + label span:nth-child(1) {
  top: 50%; transform: translateY(-50%) rotate(45deg);
  z-index: 2
}
input[id="menuicon"]:checked + label span:nth-child(2) {
  opacity: 0;
  z-index: 2
}
input[id="menuicon"]:checked + label span:nth-child(3) {
  bottom: 50%; transform: translateY(50%) rotate(-45deg);
  z-index: 2
}
div[class="sidebar"] {
  width: 130px; height: 70%;
  background-color: #fff;
  position: fixed;
  top: 0; left: -220px;
  z-index: 1;
  transition: .35;
  opacity: 0.9;
}
input[id="menuicon"]:checked + label + div {
  left: 0;
}
div.sidebar > ul {
  margin-top: 74px;
  margin-left: 20px;
}
.menu > li > a {
  display: block;
  z-index: 3;
}
.top > li > a {
  font-weight: 900;
  font-size: 1.2em;
  margin-bottom: 24px;
}
.bottom {
  margin-top: 50px;
}
.bottom > li > a {
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 24px;
}
}