footer {
  padding: 2em;
  font-size: var(--font-size-text);
  text-align: center;
  color: white;
  background-color: var(--color-lighter);
}
@media (max-width: 768px) {

}

@media (min-width: 769px) {
  
}